<div class="master-container">
    <div class="child-col-container">
        <h4>Machine Schedule </h4>

        <form [formGroup]="reportForm" class="form-content">
            <div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" formControlName="Filter" placeholder="Insert require machine code to filter"
                       style="width:250px;" mdTooltip="Selected training">
            </div>

            <div>
                <i class="fa fa-chain" aria-hidden="true"></i>
                <p-dropdown [options]="proMasters" formControlName="JobNo" [filter]="true" mdTooltip="Selected location of employee"
                            [style]="{'width':'250px'}" placeholder="Filter by job number">
                </p-dropdown>
            </div>

            <div>
                <i class="fa fa-chain" aria-hidden="true"></i>
                <p-dropdown [options]="proDetails" formControlName="Level2" [filter]="true" mdTooltip="Selected location of employee"
                            [style]="{'width':'250px'}" placeholder="Filter by job level2/3">
                </p-dropdown>
            </div>

            <div>
                <i class="fa fa-chain" aria-hidden="true"></i>
                <p-dropdown [options]="typeMachine" formControlName="TypeMachineId" [filter]="true" mdTooltip="Selected group of employee"
                            [style]="{'width':'250px'}" placeholder="Filter by machine type">
                </p-dropdown>
            </div>

            <div >
                <button type="button" md-mini-fab color="warn" (click)="resetFilter()"
                        mdTooltip="Reset all filter" style="margin:4px;">
                    <i class="fa fa-2x fa-minus" aria-hidden="true" style="margin:0px;"></i>
                </button>
            </div>
        </form>

        <div class="child-row-container my-1">
            <div class="plan-col" style="border-bottom:none; margin-right:5px;">|||||</div> Plan
            <div class="ml-1 actual-col" style="margin-right:5px;">|||||</div> Actual

        </div>

        Reload data in {{message}} sec.
        <div style="width:98%;">
            <md-progress-bar color="primary" [value]="count" mode="determinate">
            </md-progress-bar>
        </div>
    </div>
    <div class="bottom-container my-2">
        <p-dataTable [value]="taskMachines" sortField="MachineNo" rowGroupMode="rowspan"
                     [lazy]="true" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
                     [totalRecords]="totalRecords" (onLazyLoad)="loadDataLazy($event)"
                     scrollable="true" scrollWidth="94vw">
            <p-headerColumnGroup>
                <p-row>
                    <p-column *ngFor="let colup of columnsUpper" [header]="colup.header"
                              [rowspan]="colup.rowspan" [style]="colup.style" [colspan]="colup.colspan">
                    </p-column>
                </p-row>
                <p-row>
                    <p-column *ngFor="let collow of columnsLower" [header]="collow.header"
                              [style]="{'width':'35px'}">
                    </p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column *ngFor="let column of columns" [field]="column.field" [styleClass]="column.styleclass"
                      [header]="column.header" [style]="column.style" [sortable]="true">
                <ng-template *ngIf="column.isCol" let-col let-data1="rowData" pTemplate="body">
                    <div [ngSwitch]="data1[col.field]" class="child-col-container">
                        <div *ngSwitchCase="1">
                            <div class="plan-col">
                                |
                            </div>
                            <div class="empty-col">
                                |
                            </div>
                        </div>
                        <div *ngSwitchCase="2">
                            <div class="empty-col">
                                |
                            </div>
                            <div class="actual-col">
                                |
                            </div>
                        </div>
                        <div *ngSwitchCase="3">
                            <div class="plan-col">
                                |
                            </div>
                            <div class="actual-col">
                                |
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            -
                        </div>
                    </div>
                </ng-template>
                <ng-template *ngIf="column.isLink" let-col let-data1="rowData" pTemplate="body">
                    <div *ngIf="data1[col.field]">
                        <i (click)="onSelectTaskMachineId(data1['TaskMachineId'])" style="cursor:pointer;color:red;">
                            {{data1[col.field]}}
                        </i>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>